<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ain-ar</key>
  <string>ain-ar.glif</string>
  <key>ain-ar.fina</key>
  <string>ain-ar.fina.glif</string>
  <key>ain-ar.fina.ss06</key>
  <string>ain-ar.fina.ss06.glif</string>
  <key>alef-ar.fina</key>
  <string>alef-ar.fina.glif</string>
  <key>alef-ar.wide</key>
  <string>alef-ar.wide.glif</string>
  <key>alef-ar.wideshort</key>
  <string>alef-ar.wideshort.glif</string>
  <key>alef-ar.wideshort.fina</key>
  <string>alef-ar.wideshort.fina.glif</string>
  <key>alefMaksura-ar</key>
  <string>alefM_aksura-ar.glif</string>
  <key>alefMaksura-ar.fina</key>
  <string>alefM_aksura-ar.fina.glif</string>
  <key>allah-ar</key>
  <string>allah-ar.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>beh-ar.init.alt</key>
  <string>beh-ar.init.alt.glif</string>
  <key>behDotless-ar.fina</key>
  <string>behD_otless-ar.fina.glif</string>
  <key>behDotless-ar.init</key>
  <string>behD_otless-ar.init.glif</string>
  <key>behDotless-ar.medi</key>
  <string>behD_otless-ar.medi.glif</string>
  <key>dal-ar</key>
  <string>dal-ar.glif</string>
  <key>dal-ar.fina</key>
  <string>dal-ar.fina.glif</string>
  <key>damma-ar</key>
  <string>damma-ar.glif</string>
  <key>dammatan-ar</key>
  <string>dammatan-ar.glif</string>
  <key>endofayah-ar</key>
  <string>endofayah-ar.glif</string>
  <key>endofayah-ar.alt2</key>
  <string>endofayah-ar.alt2.glif</string>
  <key>endofayah-ar.alt3</key>
  <string>endofayah-ar.alt3.glif</string>
  <key>euro</key>
  <string>euro.glif</string>
  <key>fehAfrican-ar.fina</key>
  <string>fehA_frican-ar.fina.glif</string>
  <key>fehDotless-ar</key>
  <string>fehD_otless-ar.glif</string>
  <key>fehDotless-ar.fina</key>
  <string>fehD_otless-ar.fina.glif</string>
  <key>fehDotless-ar.init</key>
  <string>fehD_otless-ar.init.glif</string>
  <key>fehDotless-ar.medi</key>
  <string>fehD_otless-ar.medi.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.alt</key>
  <string>five.alt.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>hah-ar.fina</key>
  <string>hah-ar.fina.glif</string>
  <key>hah-ar.medi</key>
  <string>hah-ar.medi.glif</string>
  <key>hah-ar.medi.ss07</key>
  <string>hah-ar.medi.ss07.glif</string>
  <key>hamza-ar</key>
  <string>hamza-ar.glif</string>
  <key>hamzaabove-ar</key>
  <string>hamzaabove-ar.glif</string>
  <key>heh-ar</key>
  <string>heh-ar.glif</string>
  <key>heh-ar.fina</key>
  <string>heh-ar.fina.glif</string>
  <key>heh-ar.init</key>
  <string>heh-ar.init.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>integral.rtl</key>
  <string>integral.rtl.glif</string>
  <key>kaf-ar</key>
  <string>kaf-ar.glif</string>
  <key>kaf-ar.fina</key>
  <string>kaf-ar.fina.glif</string>
  <key>kaf-ar.medi</key>
  <string>kaf-ar.medi.glif</string>
  <key>lam-ar</key>
  <string>lam-ar.glif</string>
  <key>lam-ar.fina</key>
  <string>lam-ar.fina.glif</string>
  <key>lam_alef-ar</key>
  <string>lam_alef-ar.glif</string>
  <key>lam_alef-ar.fina</key>
  <string>lam_alef-ar.fina.glif</string>
  <key>lam_alefHamzaabove-ar</key>
  <string>lam_alefH_amzaabove-ar.glif</string>
  <key>lam_alefHamzaabove-ar.fina</key>
  <string>lam_alefH_amzaabove-ar.fina.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>madda-ar</key>
  <string>madda-ar.glif</string>
  <key>meem-ar.init</key>
  <string>meem-ar.init.glif</string>
  <key>meem-ar.medi</key>
  <string>meem-ar.medi.glif</string>
  <key>noonAfrican-ar</key>
  <string>noonA_frican-ar.glif</string>
  <key>noonghunna-ar</key>
  <string>noonghunna-ar.glif</string>
  <key>noonghunna-ar.fina</key>
  <string>noonghunna-ar.fina.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>notequal.rtl</key>
  <string>notequal.rtl.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>qafDotless-ar.fina</key>
  <string>qafD_otless-ar.fina.glif</string>
  <key>reh-ar</key>
  <string>reh-ar.glif</string>
  <key>reh-ar.fina</key>
  <string>reh-ar.fina.glif</string>
  <key>sad-ar</key>
  <string>sad-ar.glif</string>
  <key>sad-ar.fina</key>
  <string>sad-ar.fina.glif</string>
  <key>sad-ar.init</key>
  <string>sad-ar.init.glif</string>
  <key>sad-ar.init.flat</key>
  <string>sad-ar.init.flat.glif</string>
  <key>sad-ar.medi</key>
  <string>sad-ar.medi.glif</string>
  <key>seen-ar</key>
  <string>seen-ar.glif</string>
  <key>seen-ar.fina</key>
  <string>seen-ar.fina.glif</string>
  <key>seen-ar.init</key>
  <string>seen-ar.init.glif</string>
  <key>seen-ar.medi.flat</key>
  <string>seen-ar.medi.flat.glif</string>
  <key>seven-ar</key>
  <string>seven-ar.glif</string>
  <key>seven-ar.alt</key>
  <string>seven-ar.alt.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>tah-ar.init</key>
  <string>tah-ar.init.glif</string>
  <key>three.alt</key>
  <string>three.alt.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>twodotsverticalabove-ar</key>
  <string>twodotsverticalabove-ar.glif</string>
  <key>waw-ar</key>
  <string>waw-ar.glif</string>
  <key>waw-ar.fina</key>
  <string>waw-ar.fina.glif</string>
  <key>yeh-ar.fina.ss01</key>
  <string>yeh-ar.fina.ss01.glif</string>
  <key>yeh-ar.ss01</key>
  <string>yeh-ar.ss01.glif</string>
  <key>yeh-farsi.fina.ss05</key>
  <string>yeh-farsi.fina.ss05.glif</string>
  <key>yeh-farsi.ss05</key>
  <string>yeh-farsi.ss05.glif</string>
  <key>yehbarree-ar</key>
  <string>yehbarree-ar.glif</string>
</dict>
</plist>
