<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>a.sc</key>
  <string>a.sc.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>ain-ar</key>
  <string>ain-ar.glif</string>
  <key>ain-ar.fina</key>
  <string>ain-ar.fina.glif</string>
  <key>ain-ar.fina.ss06</key>
  <string>ain-ar.fina.ss06.glif</string>
  <key>ain-ar.init</key>
  <string>ain-ar.init.glif</string>
  <key>ain-ar.medi</key>
  <string>ain-ar.medi.glif</string>
  <key>ain-ar.medi.flat</key>
  <string>ain-ar.medi.flat.glif</string>
  <key>alef-ar</key>
  <string>alef-ar.glif</string>
  <key>alef-ar.fina</key>
  <string>alef-ar.fina.glif</string>
  <key>alef-ar.high</key>
  <string>alef-ar.high.glif</string>
  <key>alef-ar.ss08</key>
  <string>alef-ar.ss08.glif</string>
  <key>alef-ar.wide</key>
  <string>alef-ar.wide.glif</string>
  <key>alef-ar.wide.fina</key>
  <string>alef-ar.wide.fina.glif</string>
  <key>alef-ar.wideshort</key>
  <string>alef-ar.wideshort.glif</string>
  <key>alef-ar.wideshort.fina</key>
  <string>alef-ar.wideshort.fina.glif</string>
  <key>alefHamzaabove-ar.fina</key>
  <string>alefH_amzaabove-ar.fina.glif</string>
  <key>alefHamzabelow-ar</key>
  <string>alefH_amzabelow-ar.glif</string>
  <key>alefHamzabelow-ar.fina</key>
  <string>alefH_amzabelow-ar.fina.glif</string>
  <key>alefMaksura-ar</key>
  <string>alefM_aksura-ar.glif</string>
  <key>alefMaksura-ar.fina</key>
  <string>alefM_aksura-ar.fina.glif</string>
  <key>alefMaksura-ar.fina.longtail</key>
  <string>alefM_aksura-ar.fina.longtail.glif</string>
  <key>alefMaksura-ar.longtail</key>
  <string>alefM_aksura-ar.longtail.glif</string>
  <key>alefMaksura-ar.shrtail</key>
  <string>alefM_aksura-ar.shrtail.glif</string>
  <key>alefabove-ar</key>
  <string>alefabove-ar.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>b.sc</key>
  <string>b.sc.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>beh-ar.init.alt</key>
  <string>beh-ar.init.alt.glif</string>
  <key>behDotless-ar</key>
  <string>behD_otless-ar.glif</string>
  <key>behDotless-ar.fina</key>
  <string>behD_otless-ar.fina.glif</string>
  <key>behDotless-ar.medi</key>
  <string>behD_otless-ar.medi.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>breve-cy</key>
  <string>breve-cy.glif</string>
  <key>brevecomb</key>
  <string>brevecomb.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>c.sc</key>
  <string>c.sc.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>commaaccent</key>
  <string>commaaccent.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>d.sc</key>
  <string>d.sc.glif</string>
  <key>dal-ar</key>
  <string>dal-ar.glif</string>
  <key>dal-ar.fina</key>
  <string>dal-ar.fina.glif</string>
  <key>damma-ar</key>
  <string>damma-ar.glif</string>
  <key>damma-ar.ss08</key>
  <string>damma-ar.ss08.glif</string>
  <key>dammatan-ar</key>
  <string>dammatan-ar.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dottedCircle</key>
  <string>dottedC_ircle.glif</string>
  <key>dotvowelbelow-ar</key>
  <string>dotvowelbelow-ar.glif</string>
  <key>dotvowelbelow-ar.ss04</key>
  <string>dotvowelbelow-ar.ss04.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>e.sc</key>
  <string>e.sc.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight-ar</key>
  <string>eight-ar.glif</string>
  <key>eight-ar.alt</key>
  <string>eight-ar.alt.glif</string>
  <key>eight.alt</key>
  <string>eight.alt.glif</string>
  <key>eight.latn</key>
  <string>eight.latn.glif</string>
  <key>eight.lf</key>
  <string>eight.lf.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>endofayah-ar</key>
  <string>endofayah-ar.glif</string>
  <key>endofayah-ar.alt2</key>
  <string>endofayah-ar.alt2.glif</string>
  <key>endofayah-ar.alt2.ss02</key>
  <string>endofayah-ar.alt2.ss02.glif</string>
  <key>endofayah-ar.alt2.ss03</key>
  <string>endofayah-ar.alt2.ss03.glif</string>
  <key>endofayah-ar.alt3</key>
  <string>endofayah-ar.alt3.glif</string>
  <key>endofayah-ar.alt3.ss03</key>
  <string>endofayah-ar.alt3.ss03.glif</string>
  <key>endofayah-ar.ss03</key>
  <string>endofayah-ar.ss03.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>f.sc</key>
  <string>f.sc.glif</string>
  <key>fatha-ar</key>
  <string>fatha-ar.glif</string>
  <key>fehAfrican-ar.fina</key>
  <string>fehA_frican-ar.fina.glif</string>
  <key>fehDotless-ar</key>
  <string>fehD_otless-ar.glif</string>
  <key>fehDotless-ar.fina</key>
  <string>fehD_otless-ar.fina.glif</string>
  <key>fehDotless-ar.init</key>
  <string>fehD_otless-ar.init.glif</string>
  <key>fehDotless-ar.medi</key>
  <string>fehD_otless-ar.medi.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five-ar</key>
  <string>five-ar.glif</string>
  <key>five-ar.alt</key>
  <string>five-ar.alt.glif</string>
  <key>five.alt</key>
  <string>five.alt.glif</string>
  <key>five.latn</key>
  <string>five.latn.glif</string>
  <key>five.lf</key>
  <string>five.lf.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four-ar</key>
  <string>four-ar.glif</string>
  <key>four-ar.alt</key>
  <string>four-ar.alt.glif</string>
  <key>four.alt</key>
  <string>four.alt.glif</string>
  <key>four.latn</key>
  <string>four.latn.glif</string>
  <key>four.lf</key>
  <string>four.lf.glif</string>
  <key>g.sc</key>
  <string>g.sc.glif</string>
  <key>ghain-ar.fina.ss06</key>
  <string>ghain-ar.fina.ss06.glif</string>
  <key>ghain-ar.medi.flat</key>
  <string>ghain-ar.medi.flat.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>h.sc</key>
  <string>h.sc.glif</string>
  <key>hah-ar</key>
  <string>hah-ar.glif</string>
  <key>hah-ar.fina</key>
  <string>hah-ar.fina.glif</string>
  <key>hah-ar.fina.ss07</key>
  <string>hah-ar.fina.ss07.glif</string>
  <key>hah-ar.init</key>
  <string>hah-ar.init.glif</string>
  <key>hah-ar.medi</key>
  <string>hah-ar.medi.glif</string>
  <key>hah-ar.medi.ss07</key>
  <string>hah-ar.medi.ss07.glif</string>
  <key>hamzaabove-ar</key>
  <string>hamzaabove-ar.glif</string>
  <key>heh-ar</key>
  <string>heh-ar.glif</string>
  <key>heh-ar.fina</key>
  <string>heh-ar.fina.glif</string>
  <key>heh-ar.init</key>
  <string>heh-ar.init.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>i.sc</key>
  <string>i.sc.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>j.sc</key>
  <string>j.sc.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>k.sc</key>
  <string>k.sc.glif</string>
  <key>kaf-ar</key>
  <string>kaf-ar.glif</string>
  <key>kaf-ar.fina</key>
  <string>kaf-ar.fina.glif</string>
  <key>kaf-ar.init</key>
  <string>kaf-ar.init.glif</string>
  <key>kaf-ar.medi</key>
  <string>kaf-ar.medi.glif</string>
  <key>kafswash-ar.fina</key>
  <string>kafswash-ar.fina.glif</string>
  <key>kafswash-ar.init</key>
  <string>kafswash-ar.init.glif</string>
  <key>kafswash-ar.medi</key>
  <string>kafswash-ar.medi.glif</string>
  <key>kasra-ar</key>
  <string>kasra-ar.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>l.sc</key>
  <string>l.sc.glif</string>
  <key>lam-ar</key>
  <string>lam-ar.glif</string>
  <key>lam-ar.fina</key>
  <string>lam-ar.fina.glif</string>
  <key>lam-ar.init</key>
  <string>lam-ar.init.glif</string>
  <key>lam-ar.medi</key>
  <string>lam-ar.medi.glif</string>
  <key>lam_alef-ar</key>
  <string>lam_alef-ar.glif</string>
  <key>lam_alef-ar.fina</key>
  <string>lam_alef-ar.fina.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>m.sc</key>
  <string>m.sc.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>madda-ar</key>
  <string>madda-ar.glif</string>
  <key>meem-ar</key>
  <string>meem-ar.glif</string>
  <key>meem-ar.fina</key>
  <string>meem-ar.fina.glif</string>
  <key>meem-ar.init.flat</key>
  <string>meem-ar.init.flat.glif</string>
  <key>meem-ar.medi</key>
  <string>meem-ar.medi.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>n.sc</key>
  <string>n.sc.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine-ar</key>
  <string>nine-ar.glif</string>
  <key>nine-ar.alt</key>
  <string>nine-ar.alt.glif</string>
  <key>nine.alt</key>
  <string>nine.alt.glif</string>
  <key>nine.latn</key>
  <string>nine.latn.glif</string>
  <key>nine.lf</key>
  <string>nine.lf.glif</string>
  <key>noon-ar.fina.longtail</key>
  <string>noon-ar.fina.longtail.glif</string>
  <key>noon-ar.fina.longtail.ss01</key>
  <string>noon-ar.fina.longtail.ss01.glif</string>
  <key>noon-ar.fina.shrtail</key>
  <string>noon-ar.fina.shrtail.glif</string>
  <key>noon-ar.fina.shrtail.ss01</key>
  <string>noon-ar.fina.shrtail.ss01.glif</string>
  <key>noon-ar.shrtail</key>
  <string>noon-ar.shrtail.glif</string>
  <key>noon-ar.shrtail.ss01</key>
  <string>noon-ar.shrtail.ss01.glif</string>
  <key>noonAfrican-ar</key>
  <string>noonA_frican-ar.glif</string>
  <key>noonAfrican-ar.fina.longtail</key>
  <string>noonA_frican-ar.fina.longtail.glif</string>
  <key>noonAfrican-ar.fina.shrtail</key>
  <string>noonA_frican-ar.fina.shrtail.glif</string>
  <key>noonAfrican-ar.shrtail</key>
  <string>noonA_frican-ar.shrtail.glif</string>
  <key>noonTwodotsbelow-ar.fina.longtail</key>
  <string>noonT_wodotsbelow-ar.fina.longtail.glif</string>
  <key>noonTwodotsbelow-ar.fina.shrtail</key>
  <string>noonT_wodotsbelow-ar.fina.shrtail.glif</string>
  <key>noonTwodotsbelow-ar.shrtail</key>
  <string>noonT_wodotsbelow-ar.shrtail.glif</string>
  <key>noonghunna-ar</key>
  <string>noonghunna-ar.glif</string>
  <key>noonghunna-ar.fina</key>
  <string>noonghunna-ar.fina.glif</string>
  <key>noonghunna-ar.fina.longtail</key>
  <string>noonghunna-ar.fina.longtail.glif</string>
  <key>noonghunna-ar.fina.shrtail</key>
  <string>noonghunna-ar.fina.shrtail.glif</string>
  <key>noonghunna-ar.shrtail</key>
  <string>noonghunna-ar.shrtail.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>o.sc</key>
  <string>o.sc.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one-ar</key>
  <string>one-ar.glif</string>
  <key>one-ar.alt</key>
  <string>one-ar.alt.glif</string>
  <key>one.alt</key>
  <string>one.alt.glif</string>
  <key>one.latn</key>
  <string>one.latn.glif</string>
  <key>one.lf</key>
  <string>one.lf.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>p.sc</key>
  <string>p.sc.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenleft-ar</key>
  <string>parenleft-ar.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>q.sc</key>
  <string>q.sc.glif</string>
  <key>qafAfrican-ar.fina</key>
  <string>qafA_frican-ar.fina.glif</string>
  <key>qafDotless-ar</key>
  <string>qafD_otless-ar.glif</string>
  <key>qafDotless-ar.fina</key>
  <string>qafD_otless-ar.fina.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>r.sc</key>
  <string>r.sc.glif</string>
  <key>reh-ar</key>
  <string>reh-ar.glif</string>
  <key>reh-ar.fina</key>
  <string>reh-ar.fina.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>s.sc</key>
  <string>s.sc.glif</string>
  <key>sad-ar</key>
  <string>sad-ar.glif</string>
  <key>sad-ar.fina</key>
  <string>sad-ar.fina.glif</string>
  <key>seen-ar</key>
  <string>seen-ar.glif</string>
  <key>seen-ar.fina</key>
  <string>seen-ar.fina.glif</string>
  <key>seen-ar.fina.longtail</key>
  <string>seen-ar.fina.longtail.glif</string>
  <key>seen-ar.init</key>
  <string>seen-ar.init.glif</string>
  <key>seen-ar.longtail</key>
  <string>seen-ar.longtail.glif</string>
  <key>seen-ar.medi</key>
  <string>seen-ar.medi.glif</string>
  <key>seen-ar.shrtail</key>
  <string>seen-ar.shrtail.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven-ar</key>
  <string>seven-ar.glif</string>
  <key>seven-ar.alt</key>
  <string>seven-ar.alt.glif</string>
  <key>seven.alt</key>
  <string>seven.alt.glif</string>
  <key>seven.latn</key>
  <string>seven.latn.glif</string>
  <key>seven.lf</key>
  <string>seven.lf.glif</string>
  <key>shadda-ar</key>
  <string>shadda-ar.glif</string>
  <key>sheen-ar.fina.longtail</key>
  <string>sheen-ar.fina.longtail.glif</string>
  <key>sheen-ar.longtail</key>
  <string>sheen-ar.longtail.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six-ar</key>
  <string>six-ar.glif</string>
  <key>six-ar.alt</key>
  <string>six-ar.alt.glif</string>
  <key>six.alt</key>
  <string>six.alt.glif</string>
  <key>six.latn</key>
  <string>six.latn.glif</string>
  <key>six.lf</key>
  <string>six.lf.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>sukun-ar</key>
  <string>sukun-ar.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>t.sc</key>
  <string>t.sc.glif</string>
  <key>tah-ar.fina</key>
  <string>tah-ar.fina.glif</string>
  <key>tah-ar.medi</key>
  <string>tah-ar.medi.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three-ar</key>
  <string>three-ar.glif</string>
  <key>three-ar.alt</key>
  <string>three-ar.alt.glif</string>
  <key>three.alt</key>
  <string>three.alt.glif</string>
  <key>three.latn</key>
  <string>three.latn.glif</string>
  <key>three.lf</key>
  <string>three.lf.glif</string>
  <key>threedots-ar</key>
  <string>threedots-ar.glif</string>
  <key>threedots-ar.small</key>
  <string>threedots-ar.small.glif</string>
  <key>threedotsdownabove-ar</key>
  <string>threedotsdownabove-ar.glif</string>
  <key>threedotsdownbelow-ar</key>
  <string>threedotsdownbelow-ar.glif</string>
  <key>threedotsupabove-ar</key>
  <string>threedotsupabove-ar.glif</string>
  <key>threedotsupbelow-ar</key>
  <string>threedotsupbelow-ar.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two-ar</key>
  <string>two-ar.glif</string>
  <key>two-ar.alt</key>
  <string>two-ar.alt.glif</string>
  <key>two.alt</key>
  <string>two.alt.glif</string>
  <key>two.latn</key>
  <string>two.latn.glif</string>
  <key>two.lf</key>
  <string>two.lf.glif</string>
  <key>twodotshorizontalabove-ar</key>
  <string>twodotshorizontalabove-ar.glif</string>
  <key>twodotshorizontalbelow-ar</key>
  <string>twodotshorizontalbelow-ar.glif</string>
  <key>twodotsnarrow-ar</key>
  <string>twodotsnarrow-ar.glif</string>
  <key>twodotsverticalabove-ar</key>
  <string>twodotsverticalabove-ar.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>u.sc</key>
  <string>u.sc.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uniFFFD</key>
  <string>uniF_F_F_D_.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>v.sc</key>
  <string>v.sc.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>w.sc</key>
  <string>w.sc.glif</string>
  <key>waw-ar</key>
  <string>waw-ar.glif</string>
  <key>waw-ar.alt</key>
  <string>waw-ar.alt.glif</string>
  <key>waw-ar.fina</key>
  <string>waw-ar.fina.glif</string>
  <key>waw-ar.fina.alt</key>
  <string>waw-ar.fina.alt.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>x.sc</key>
  <string>x.sc.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>y.sc</key>
  <string>y.sc.glif</string>
  <key>yeh-ar</key>
  <string>yeh-ar.glif</string>
  <key>yeh-ar.fina</key>
  <string>yeh-ar.fina.glif</string>
  <key>yeh-ar.fina.longtail</key>
  <string>yeh-ar.fina.longtail.glif</string>
  <key>yeh-ar.fina.longtail.ss01</key>
  <string>yeh-ar.fina.longtail.ss01.glif</string>
  <key>yeh-ar.fina.ss01</key>
  <string>yeh-ar.fina.ss01.glif</string>
  <key>yeh-ar.longtail</key>
  <string>yeh-ar.longtail.glif</string>
  <key>yeh-ar.longtail.ss01</key>
  <string>yeh-ar.longtail.ss01.glif</string>
  <key>yeh-ar.ss01</key>
  <string>yeh-ar.ss01.glif</string>
  <key>yeh-farsi.fina.ss05</key>
  <string>yeh-farsi.fina.ss05.glif</string>
  <key>yeh-farsi.ss05</key>
  <string>yeh-farsi.ss05.glif</string>
  <key>yehThreedotsbelow-ar.fina</key>
  <string>yehT_hreedotsbelow-ar.fina.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>z.sc</key>
  <string>z.sc.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero-ar</key>
  <string>zero-ar.glif</string>
  <key>zero-ar.alt</key>
  <string>zero-ar.alt.glif</string>
  <key>zero.alt</key>
  <string>zero.alt.glif</string>
  <key>zero.latn</key>
  <string>zero.latn.glif</string>
  <key>zero.lf</key>
  <string>zero.lf.glif</string>
</dict>
</plist>
